/* dining menu */


.menu_btn {
    width: auto;
    padding: 1rem 5rem;
    position: relative;
    height:auto;
    border: 5px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .menu_btn:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
    color: red;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  }
  /* --------------------------------------------------------------------------------------------- */
  /* menu download */


  .button {
    width: 15rem;
    height: 4rem;
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition:  0.3s;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    font-weight: bold;
    border: #1163ff 2px solid;
  }
  
 
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .button:hover {
    background: #6c18ff;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
/* ----------------------------------------------------------------------- */
/* form ui  table booking */

.coolinput label {
  font-size: 0.75rem;
  color: #818CF8;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 1px 3px;
  width: fit-content;
}

.coolinput input{
  padding: 1.5rem 2rem;
  font-size: 0.75rem;
  border: 2px #818CF8 solid;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 100%;
}

.coolinput input:focus {
  outline: none;
} 


@media (max-width: 992px) {
 .coolinput input{
    width: 105% !important;
  } 
}
/* 


------------------------------------------------------------------------------ */